name: Client Unit tests

on:
  push:
    branches: [ HW3 ]
  pull_request:
    branches: [ HW3 ]

jobs:
  build:
    defaults:
      run:
        working-directory: ./client
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: ./client/package-lock.json
      - run: npm ci
      - run: npm build
      - run: npm test src/test/unit/
